
$font_color: #231F20;
$sec_font_color: #181818;
$black: #000;
$black_grey: #333;
$white: #fff;
$grey: #7F7F7F;
$med_grey: #616161;
$light_green: #99BAAB;
$med_green: #00805E;
$dark_green: #00522C;
$red: #ff0033;