@import './variables.module';

.docket_form_container {
    padding: 40px 60px 50px;
    background: linear-gradient(180deg, rgba(229, 238, 250, 0.6) 0%, #FFFFFF 100%);
    .title {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 5px;
    }
}